<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Template5</title>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap' rel='stylesheet'>

  <style>
      body {
          margin: 0;
      }

      .page {
          font-family: 'Ubuntu', sans-serif;
          font-weight: 500;
      }

      .header {
          height: 32px;
          width: 100%;
          border-top: 54px solid #A44242;
      }

      .title {
          color: #212E5E;
          font-size: 32px;
      }


      .block {
          display: flex;
          flex-direction: column;
          line-height: 22px;
      }

      .block h3 {
          margin: 0 0 10px 0;
          font-size: 22px;
      }

      .invoice {
          display: flex;
          flex-direction: column;
          line-height: 33px;
          font-size: 16px;
          color: gray;
      }

      .in {
          display: flex;
          line-height: 34px;
          flex-direction: column;
      }

      .main-block {
          display: flex;
          justify-content: space-between;
          margin-top: 48px;
      }

      .invoice-total {
          display: flex;
          justify-content: center;
          border-top: 2px solid lightgray;
          border-bottom: 2px solid lightgray;
          padding: 15px;
          margin-top: 26px;
          text-align: center;
          line-height: 28px;
      }

      table {
          border-collapse: collapse;
          width: 100%;
          border: 1px solid lightgray;
      }

      td, th {
          border: 1px solid lightgray;
          text-align: left;
          padding: 8px;
      }

      th {
          background: #A44242;
          color: white;
          text-align: left;
          border: none;
          padding: 12px 2px;
      }

      .total {
          float: right;
          display: flex;
          gap: 80px;
          padding: 18px 0;
          border-bottom: 2px solid lightgray;
      }

      .block1 {
          display: flex;
          flex-direction: column;
          line-height: 28px;
          align-items: flex-end;
      }

      .theTitle {
          position: absolute;
          bottom: 0;
          width: 100%;
          border-bottom: 54px solid #A44242;
      }

      .right {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          padding-bottom: 26px;
          line-height: 22px;
      }

      .term-condition {
          font-size: 16px;
          padding-bottom: 8px;
          color: gray;
      }
  </style>
</head>
<body>
<div>
  <div class='page'>
    <div class='header'></div>
    <div class='title'>INVOICE</div>
    <div class='main-block'>
      <div class='block'>
        <div style='color: gray;padding-bottom: 10px;'><%= personData.billTo %></div>
        <div><%= personData.billToAddress %></div>
      </div>
      <div class='invoice'>
        <div>INVOICE #</div>
        <div>INVOICE DATE</div>
        <div>DUE DATE</div>
      </div>
      <div class='in'>
        <div style='text-align: end;'><%= personData.invoiceNo %></div>
        <div><%= personData.invoiceDate %></div>
        <div><%= personData.dueDate %></div>
      </div>
    </div>
    <div class='invoice-total'>
      <div>
        <div style='font-size: 32px;padding-bottom: 5px;'><%= personData.name %></div>
        <div><%= personData.address %></div>
      </div>
    </div>
    <table style='margin-top: 28px'>
      <tr class='table-header'>
        <th>DESCRIPTION</th>
        <th style='text-align: end'>RATE</th>
        <th style='text-align: center'>HOURS</th>
        <th style='text-align: end'>AMOUNT</th>
      </tr>
      <% for(let personDataLines of personData.lines) { %>
        <tr>
          <td><%= personDataLines.description %></td>
          <td><%= personDataLines.hours %></td>
          <td style='text-align: end'><%= personDataLines.rate %></td>
          <td style='text-align: end'><%= personDataLines.amount %></td>
        </tr>
      <% } %>
    </table>
    <div class='total'>
      <div class='block1'>
        <div style='color: gray'>SUBTOTAL</div>
        <div style='color: gray'>Rounding</div>
        <b style='color: gray'> TOTAL</b>
      </div>
      <div class='block1'>
        <b><%= personData.subTotal %></b>
        <b><%= personData.rounding %></b>
        <b><span>&#8377;</span><%= personData.total %></b>
      </div>
    </div>

    <div class='theTitle active'>
      <div class='right'>
        <div class='term-condition'>TERMS & CONDITIONS</div>
        <div style='padding-bottom: 28px;'>Payment is due within 15 days</div>
        <% if(personData.bank){ %>
          <div><%= personData.bank ;%></div>
          <div>Account Number :<%= personData.accountNo ;%></div>
          <div>IFSC Code :<%= personData.ifscCode ;%></div>
        <% } %>
      </div>
    </div>
  </div>
</div>
</body>
</html>